OPENAI_MODEL_NAME = "gpt-35-turbo"
OPENAI_DEPLOYMENT_ID = "chat"
OPENAI_API_EMBEDDING_MODEL = "text-embedding-ada-002"
OPENAI_API_EMBEDDING_DEPLOYMENT_ID = "embedding"
OPENAI_API_TYPE = "azure"
OPENAI_API_VERSION = "2023-09-01-preview"
OPENAI_API_BASE = "https://your-endpoint.openai.azure.com/"
OPENAI_API_KEY = "YOUR_OPENAI_API_KEY"
COGNITIVE_SEARCH_API_BASE = "https://your-endpoint.search.windows.net"
COGNITIVE_SEARCH_API_KEY = "YOUR_COGNITIVE_SEARCH_API_KEY"
COSMOSDB_ENDPOINT = "https://your-endpoint.documents.azure.com:443/"
COSMOSDB_KEY = "YOUR_COSMOSDB_KEY"
KEY_VAULT_NAME = "YOUR_KEY_VAULT_NAME"
BLOB_STORAGE_BLOB_NAME = "YOUR_BLOB_STORAGE_BLOB_NAME"
BLOB_STORAGE_CONTAINER_NAME = "YOUR_BLOB_STORAGE_CONTAINER_NAME"
BLOB_STORAGE_CONNECTION_STRING = "YOUR_BLOB_STORAGE_CONNECTION_STRING"
